# eclipse specific git ignore
*.pydevproject
.metadata
bin/**
**/build/**
**/crashlogs/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Ignore Mac DS_Store files
.DS_Store